html, body{
    background-color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: black;
}

#game{
    background-color: grey;
    border-style: solid;
    border-color:black;
    text-align: center;
    width: 500px;
    margin-top: 10%;
    margin-left: 35%;
    margin-right: 35%;
}

h1{
    font-weight: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

